* {
    margin: 0;
    padding: 0;
    outline: none;
}

header {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    height: 7vh;
}

header input {
    width: calc(100% / 4 - 40px);
    height: 5vh;
    border: 3px solid red;
    border-radius: 5px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 60%;
    margin: 5% auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

main img {
    width: 45%;
    height: 70vh;
    background-color: red;
    /* /\/\/\/\/\/\/\/\/\/\/\/ */
    display: none;
    /* /\/\/\/\/\/\/\/\/\/\/\/ */
}

form {
    background-color: #222;
    width: 25%;
    border-radius: 10px;
    /* /\/\/\/\/\/\/\/\/\/\/\/ */
    display: none;
    /* /\/\/\/\/\/\/\/\/\/\/\/ */
}

form input[name="display"] {
    background-color: #ddd;
    height: 40px;
    text-align: right;
    border-radius: 8px;
    margin: 5px;
    width: calc(100% - 30px);
    border: none;
    padding: 0 10px;
}

form input[type="button"] {
    float: left;
    width: calc(100% / 4 - 6.5px);
    background-color: white;
    border-radius: 8px;
    height: 36px;
    text-align: center;
    margin: 0 0 5px 5px;
}

form input[type="button"]:nth-last-of-type(1) {
    background-color: yellow;
    width: calc(50% - 7px);
}
