@font-face {
  font-family: persionFont;
  src: url(persionFont/Digi\ Rastin\ Plus\ Circle.ttf);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: persionFont;
  /* font-size: 20px; */
}

body,
html {
  height: 100%;
  background: url(img/backGroungProject.PNG);
  background-repeat: no-repeat;
  background-size: cover;

}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


/* random page style start------------- */
#randomPage {
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* random page>img */
#randomPage div:first-of-type {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

#randomPage div img {
  width: 100%;
  height: 100% !important;
}

/* random page>img */
/* random page>matn  */
#randomPage div p {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

/* random page>matn */
/* random page end---------------- */
header {
  padding-top: 20px;
  margin-top: 10px;
  display: none;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  animation: start .5s linear forwards;
}

@keyframes start {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px);
  }
}

header div:first-of-type {
  width: 50px;
}

header div:first-of-type img {
  width: 145%;
  border-radius: 50px;
}

header div:last-of-type {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}

header div:last-of-type:hover> :not(:hover) {
  opacity: .4;
}

header input {
  color: #fff;
  display: flex;
  overflow: visible;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: calc(100% / 4 - 40px);
  height: 5vh;
  border-radius: 5px;
  background-color: #28D319;
  cursor: pointer;
  transition: all .3s;
}

main {
  margin: 5% auto;
  display: none;
  align-items: center;
  justify-content: space-around;
}

/* left div style start.................. */
.leftDiv {
  width: 45%;
  height: 70vh;
  border-radius: 10px;
}

.leftDiv img {
  width: 100%;
  height: 100%;
  animation: imageStart .5s linear forwards;
}

@keyframes imageStart {
  from {
    transform: translateX(-150px);
  }

  to {
    transform: translateX(0px);
  }
}

/* left div style end */

/* div right style start...................*/
.rightDiv {
  width: 50%;
}

h1 {
  text-align: center;
}

form {
  width: 50%;
  margin: 10px auto;
  border-radius: 150px;
  padding: 20px;
  animation: formStart .5s linear forwards;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #fff;
  color: #00ddff;
  /* From https://css.glass */
  background: rgba(60, 245, 255, 0.065);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

@keyframes formStart {
  from {
    transform: translateX(150px);
  }

  to {
    transform: translateX(0px);
  }
}

#clac input:last-of-type {
  width: 48%;
}

form input[name="display"] {
  background-color: #ddd;
  height: 40px;
  text-align: right;
  border-radius: 8px;
  margin: 5px;
  width: calc(100% - 30px);
  border: none;
  padding: 0 10px;
}

form input[type="button"] {
  float: left;
  width: calc(100% / 4 - 6.5px);
  background-color: white;
  border-radius: 8px;
  height: 36px;
  text-align: center;
  margin: 0 0 5px 5px;
}

form input[type="number"] {
  width: 100%;
  margin-bottom: 10px;
}

form input[type="button"]:nth-last-of-type(1) {
  background-color: #28D319;
  color: #fff;
  width: 103%;
}

form input[type="submit"] {
  display: block;
  width: 101%;
  padding: 10px;
  background-color: #28D319;
  color: #fff;
}

form label {
  display: inline-block;
  margin: 10px;
}

/* -----------bmi section------------------------ */
#bmiForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;

}

#bmiForm>div {
  width: 95%;
}

#bmiForm input {
  margin: 8px auto;
  width: 100%
}

#bmiForm button {
  padding: 2px 8px 2px 8px;
  width: 100%
}

.result {
  font-size: 15px;
  text-align: center;
  margin: 5px auto;
}

.user {
  text-align: center;
}

.leaghnt {
  text-align: center;
  margin-top: 10px;
}

/* ----------------------BMI section ensd------------------------------- */
/* loading------------ */
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;

  transform: translate(-50%, -50%);
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.loaderDiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* loading end------------ */
/* checkBox...................... */

.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);

}

.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.check:hover svg {
  stroke: var(--accent-color, #a3e583);
}

#cbx1:checked+.check svg {
  stroke: var(--accent-color, #a3e583);
}

#cbx1:checked+.check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

#cbx1:checked+.check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

#cbx2:checked+.check svg {
  stroke: var(--accent-color, #a3e583);
}

#cbx2:checked+.check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

#cbx2:checked+.check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

#cbx3:checked+.check svg {
  stroke: var(--accent-color, #a3e583);
}

#cbx3:checked+.check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

#cbx3:checked+.check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

#cbx4:checked+.check svg {
  stroke: var(--accent-color, #a3e583);
}

#cbx4:checked+.check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

#cbx4:checked+.check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

/* checkbox end......................... */

li {
  list-style: none;
}

#unitConversion {
  display: none;
  text-align: center;
}

#unitConversion h1 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

#unit1,
#unit2 {
  border-bottom: 2px solid rgb(0, 0, 0);
}

#Second {
  margin: 5px 0;

}

#mohasebe,
.mohasebe1 {
  float: none !important;
  width: 101%;
  margin: 0 auto;
}

#unitConversion>div {
  display: flex;
  flex-direction: column-reverse;
}

#unitConversion>div>div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

/* در ابتدا دیسپلی هدر و مین را تغییر میدهیم تا لودینگ به نمکایش در بیاید */
main,
header {
  display: none;
}

#unitForm {
  display: none;
  flex-direction: column;
  align-items: center;
}

#unitForm>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  header>div:last-of-type{
    
    display: flex;
    flex-wrap: wrap;
  }
  header input {
    font-size: 7px;
    width: 40%;
  }

  .leftDiv {
    display: none;
  }

  .rightDiv {
    width: 100%;
  }

  form {
    padding: 20px;
  }
}